body {
    font-size: 13px;
}

.my-custom-scrollbar {
    position: relative;
    height: 430px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
    width: 100%;
}

.sideBarSvg {
    filter:invert();
}

hr {
    opacity: 100%;
}

.rounded-full {
    border-radius: 50%;
}

.hidden {
    display: none!important;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none!important;
    }
    .topnav {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .sidebar {
        display: block!important;
    }
    .topnav {
        display: none;
    }
}
